<!DOCTYPE html>
<html lang="en" >

<%- include('partials/header',{title: 'Soul Network Launcher'}) %>


<body>
    <script>
        jQuery(document).ready(function($) {
            $('.launchSN').click(function () {
                alert("click")
                const ipcRenderer = require('electron').ipcRenderer;
                ipcRenderer.send('login',{username: $('#email').val(), password: $('#password').val(),rememberMe: $('#rememberMe').val() == 'true' ? true : false});
            });
            $('#close').click(function () {
                const ipcRenderer = require('electron').ipcRenderer;
                ipcRenderer.send('close',{});
            })
            $('#tray').click(function () {
                const ipcRenderer = require('electron').ipcRenderer;
                ipcRenderer.send('tray',{});
            })
        });

    </script>
    <div class="container">

        <div class="close">
            <i id="tray" class="fas fa-minus interface-icon" style="margin-right:6px"></i>
            <i id="close" class="fas fa-times interface-icon"></i>
        </div>


        <div class="headerSN">
          <table>
            <tr>
              <td width="100%" style="text-align:center">
                <img style="width:45%" src="../public/images/sn-launcher.png" alt="">
              </td>
            </tr>
          </table>
        </div>

        <div class="headerSN" style="margin-top:50px">
            <table>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="15%">
                        <i class="fas fa-user" style="margin-right:12px"></i>Username:
                    </td>
                    <td width="25%">
                        <input class="input" type="text" id="email" name="email">
                    </td>
                    <td width="30%">
                    </td>
                </tr>
            </table>
        </div>
        <div class="headerSN">
            <table>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="15%">
                        <i class="fas fa-lock" style="margin-right:12px"></i>Password:
                    </td>
                    <td width="25%">
                        <input class="input" type="password" id="password" name="password">
                    </td>
                    <td width="30%">
                    </td>
                </tr>
            </table>
        </div>
        <div class="headerSN">
            <table>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="40" style="border-top:1px solid #157fff; text-align:center; padding-top: 12px;font-size: 12px;">
                        <input id="rememberMe" type="checkbox" name="Remember Me" value="true"> Remember Me<br>
                    </td>
                    <td width="30%">
                    </td>
                </tr>
            </table>
        </div>
        <div class="headerSN" style="margin-top:10px">
          <table>
            <tr>
              <td width="30%">
              </td>
              <td width="40%" class="launchSN">
                <a href="#" class="bottonlaunchSN" style="padding: 27px 0px">
                    ENTER
                 </a>
              </td>
              <td width="30%">
              </td>
            </tr>
          </table>
        </div>
        <div class="headerSN" style="margin-top:10px">
          <table>
            <tr>
              <td width="30%">
              </td>
              <td width="20%" class="text-profilaione">
                <a href="https://minecraft.net/it-it/store/minecraft/#register">Register</a>
              </td>
              <td width="20%" class="text-profilaione">
               <a href="https://account.mojang.com/password">Forgot Password?</a>
              </td>
              <td width="30%">
              </td>
            </tr>
          </table>
        </div>

        <div class="footerSN">
          <a title="Facebook Soul Network"><i class="fab fa-facebook socialSN"></i></a>
          <a title="Twitter Soul Network"><i class="fab fa-twitter socialSN"></i></a>
          <a title="Telegram Soul Network"><i class="fab fa-telegram-plane socialSN"></i></a>
          <a title="Twitch Soul Network"><i class="fab fa-twitch socialSN"></i></a>
          <a title="You Tube Soul Network"><i class="fab fa-youtube socialSN"></i></a>
        </div>


    </div>

</body>

</html>
