<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Soul Network Launcher</title>
      <link rel="stylesheet" href="../public/stylesheets/SNstyle.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>
#myDIV { 
  width: 500px;
  height: 500px;
  background-size:cover;
  margin:auto;
  background-repeat: no-repeat;
  background-image: url("../public/images/loadingGif.gif"), url("../public/images/loadingGif.gif");
  background-blend-mode:luminosity;
}
</style>
</head>

<body>
  <div class="container">


    <div class="close">
      <i class="fas fa-times"></i>
    </div>



    <div>
      <table height="624" style="background-color:rgba(0, 0, 0, 0.3)">
        <tr>
          <td width="100%" style="text-align:center">
            <div id="myDIV"></div>
          </td>
        </tr>
      </table> 
    </div>

    <div class="footerSN">
      <i class="fab fa-facebook socialSN"></i>
      <i class="fab fa-twitter socialSN"></i>
      <i class="fab fa-telegram-plane socialSN"></i>
      <i class="fab fa-twitch socialSN"></i><
      <i class="fab fa-youtube socialSN"></i>
    </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



  </div>
</body>

</html>
