<!--<head>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>

    <script src="../../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../../node_modules/bootstrap-slider/dist/bootstrap-slider.js"></script>
</head>-->

<head>
    <meta charset="UTF-8">
    <title><%- title %>></title>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>

    <link rel="stylesheet" href="../public/stylesheets/SNstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script src="../../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../public/javascripts/script.js"></script>
</head>