<div class="col-lg-5">
    <form>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="Email">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <div class="checkbox">
                    <label style="color: #fafafa;"><input type="checkbox" value="">Ricorda la password</label>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <button type="button" id="login-button" style="float: right;" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</div>