<div class="col-lg-5">
    <div class="well">
        <h2 style="display: inline">Bentornato <b><%= user.username %></b>!</h2>
        <button style="float: right" class="btn btn-primary" id="play-button">Gioca!</button>
    </div>
</div>